* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html {
    height: 350vh;
    position: relative;
}

/* header */
#header {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background-color: #F6F1F1;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.navigation {
    width: 80%;
    /* background-color: rebeccapurple; */
    margin: auto;
}

#header .navigation .logo {
    width: 200px;
}

#header .navigation .nav {
    display: inline-block;
    float: right;
}

.navigation .nav li {
    display: inline;
    line-height: 80px;
    padding: 0 24px;
    text-transform: uppercase;

}

.navigation .nav li a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;

}

.navigation li a:hover {
    text-decoration: underline;
}

/* @media */
/* Header */


/* Body */
#body {
    width: 100%;
    height: fit-content;
}

#body #body-wrap {
    width: 100%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}

#body .slider {
    float: right;
    width: 80%;
    /* background-color:pink; */
}

.slider .img-box {
    width: 95%;
    height: 270px;
    background-color: rebeccapurple;
    margin-left: auto;
    margin-right: auto;
    /* overflow: hidden; */


}


.img-box .image1 {
    width: 100%;
    height: 100%;
    background: url('https://ingramnz.com/workfromanywhere/Content/images/Logitech-banner.jpg') center center no-repeat;
}

.article {
    width: 20%;
    /* background-color: aqua; */
    float: left;
}

.article .article-box {
    width: 100%;
    background-color: #F6F1F1;
    height: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.article .article-content {
    padding-top: 10px;
    width: 90%;
    margin: auto;
}

.article .article-content h4 {
    margin: 15px 0;
}

.article .article-content p {
    margin: 15px 0;
    font-size: 15px;
}

.article .article-content a,
#product a {
    color: #3472dd;
    text-decoration: none;
}

.article .article-content a:hover,
#product a:hover {
    text-decoration: underline;
}


.article #service,
.article #brand .choose {
    margin-bottom: 15px;
}

.article .article-content #star {
    line-height: 40px;
    cursor: pointer;

}

.article hr {
    margin-top: 10px;
    line-height: 50px;
}

.article .price {
    width: fit-content;
    padding: 10px 10px;
    margin: 5px 0;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #d2cfcf;
}

.article .input-box {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.article .input-box #price {
    width: 45%;
    height: 30px;
}

.article .enter {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: #fff;
    transition: 0.3s;
}

.article .enter:hover {
    background: none;
    font-size: 18px;
    color: black;
    border: 3px solid black;
}

/* product */
#product {
    margin-top: 10px;
    width: 100%;
    /* background-color: red; */

    /* overflow: auto; */
}



#product .product-box {
    width: 100%; 
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

#product .product-box .product-item {
    margin-top: 50px;
    width: calc(25% - 15px);
    transition: 0.2s;
}

#product .product-box .product-item:hover {
    transform: translateY(-20px);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

/* product item */
#product .product-content {
    width: 95%;
    margin: auto;
}

#product span {
    font-weight: 700;
}

#product .big-title {
    line-height: 30px;
    text-align: center;
    width: 100%;
    color: #F0F0f0;
    background-color: #000;

}

#product .descrip {
    padding: 5px 12px;
    margin: 10px 0;
    background-color: #F0F0f0;
    border-radius: 5px;

}

#product .descrip ul {
    margin-left: 10px;
}

#product .descrip li {
    font-size: 10px;
    color: #7e7c7d;
}

#product h4 {
    float: left;
    font-weight: 300;
}

#product h3 {
    color: #396ff6;
    margin-bottom: 10px;

}

#product .tag {
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #396ff6;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 50px;
}


/* product item */




/* product */


/* Body */
/* footer */
#footer {
    width: 100%;
    height: 58vh;
    text-transform: uppercase;
}

#footer .footer-infor {

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
}

#footer .footer-infor .site-box {
    margin-top: 100px;
    width: 25%;
    height: 200px;
}

#footer .footer-infor .site-box a {
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    color: black;
    line-height: 35px;
}

#footer .footer-infor .site-box a:hover {
    text-decoration: underline;

}

#footer .footer-icon {
    width: 100%;
    text-align: center;
}

#footer .footer-icon .box {
    width: 15%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#footer .footer-icon .box i {
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

#footer .end {
    text-transform: capitalize;
    margin-top: 50px;
    font-size: 15px;
}

/* footer */